/*
MEDIA BREAKPOINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/*--- ALL Photo Credits to be implemented:

coding background(java):
https://unsplash.com/@ilyapavlov

--*/
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

/*--- ALL PAGES: Navigation Css --*/
.navbar {
  background: rgba(0, 0, 0, 0.6) !important;
  letter-spacing: .1rem;
}

/*--- End --*/
/*--- INDEX CSS --*/
.carousel-item {
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%
}

@media (max-width: 575.98px) {
  .carousel-caption {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    top: 35%;
  }
}

#opening.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 40%;
}

#opening.carousel-caption h1 {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-top: 0;
}




@media (max-width: 575.98px) {
  #opening.carousel-caption {
    top: 30%
  }
}

.carousel-caption h3 {
  font-size: 2.5rem;
}



/*--- About me Home Css --*/
.home-inner {
  background-image: url(../img/northcampus.jpg)
}

.caption h1 {
  font-size: 3.5rem;
  font-weight: 500;
}

div.skill {
  font-size: 4.5em;
}

div.scala-padding {
  padding-left: .4em;
}

.fa-python {
  color: #4584b6;
}

.icon-scala {
  color: #DE3423;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #264de4;
}

/*--- PROJECTS CSS --*/
#projects-back.home-inner {
  background-image: url(../img/java.jpg)
}

/*--- CONTACT CSS --*/
#contact-back.home-inner {
  background-image: url(../img/contact.jpg)
}

div.g-padding {
  padding-left: 1rem;
}

.social a {
  font-size: 4.5em;
  padding: 1.5rem;
}

@media (max-width: 575.98px) {
  .social a {
    font-size: 2.5em;
    padding: 1rem;
  }
}



.fa-github {
  color: #6e5494;
}

.fa-linkedin-in {
  color: #0077b5;
}

.fa-youtube {
  color: #ff0000;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.navbar-custom {
  background-color: #D4CBB7;
}

/*---Firefox Bug Fix ---*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Images Positioning --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.carousel-indicators li {
  border-radius: 45px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
}
